#map {
    background: url("@img/icons/loading.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: rem(400);
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.1);
        z-index: 3;
        pointer-events: none;
    }
}
