//====================================================================================================
.footer {
    background-color: $mCBlue;
    min-height: rem(80);
    padding: rem(15) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        max-width: rem(1441);
        width: 100%;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(15);
        font-weight: 300;
        font-size: rem(14);
        line-height: math.div(22, 14);
        letter-spacing: 0.3px;
        color: #ffffff;
        @media (max-width: em(840)) {
            flex-direction: column;
            row-gap: rem(10);
        }
    }

    &__copy {
        text-align: center;
    }

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        position: relative;
        &:not(:last-child) {
            padding-right: rem(14);
            margin-right: rem(18);
            &::before {
                content: "|";
                position: absolute;
                right: 0;
                top: 0;
                display: block;
            }
        }
    }

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//====================================================================================================
