//====================================================================================================

.main-screen {
    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__content-box {
        flex: 0 1 rem(723);
    }

    &__title {
        @include adaptiveValue("font-size", 64, 38);
        line-height: math.div(70, 64);
        letter-spacing: -1.46526px;
        color: #f7f7f7;
        &:not(:last-child) {
            margin-bottom: em(24, 64);
        }
    }

    &__text {
        font-weight: 400;
        @include adaptiveValue("font-size", 25, 18);
        line-height: math.div(28, 25);
        color: #ffffff;
        &:not(:last-child) {
            margin-bottom: em(28, 25);
        }
        &:last-child {
            &:not(:last-child) {
                margin-bottom: em(40, 25);
            }
        }
    }

    &__action-box {
        display: flex;
        align-items: center;
        column-gap: rem(16);
        @media (max-width: em(380)) {
            flex-direction: column;
            column-gap: 0;
            row-gap: rem(20);
        }
    }

    &__button {
        padding: rem(16) 0;
        &_width-194 {
            width: rem(194);
            border-color: #ffffff;
            transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff;
                    color: $mCOrange;
                }
            }
        }
        &_width-133 {
            width: rem(133);
            padding: rem(16) 0;
            background-color: #ffffff;
            color: $mCBlue;
            transition: background-color 0.4s ease 0s, color 0.4s ease 0s, border-color 0.4s ease 0s;
            border: 1px solid transparent;
            @media (any-hover: hover) {
                &:hover {
                    background-color: transparent;
                    color: $mCOrange;
                    border-color: #fff;
                }
            }
        }
        @media (max-width: em(380)) {
            width: 100%;
        }
    }
    &__figure-elements {
        flex: 0 0 rem(340);
    }
}

.figure-elements {
    min-height: rem(560);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: em(769)) {
        justify-content: center;
    }
    @media (max-width: em(750)) {
        display: none;
    }
    // display: none;
    &__item {
        background-color: rgba($color: $mCBlue, $alpha: 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        position: relative;
        z-index: 2;

        &_first {
            width: rem(151);
            height: rem(151);
            outline: 8px solid #ffffff;
            position: relative;
        }
        &_second {
            width: rem(125);
            height: rem(125);
            align-self: start;
            border: 9px solid $mCBlue;
            @media (max-width: em(769)) {
                align-self: center;
            }
        }
        &_third {
            width: rem(178);
            height: rem(178);
            border: 10px solid $mCOrange;
        }
        transform: rotate(45deg);
    }
    &__item-border {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
        z-index: -2;
        &_second {
            border-color: rgba($color: $mCOrange, $alpha: 0.5);
            top: 20px;
            left: -20px;
        }
        &_third {
            top: 20px;
            left: 20px;
        }
    }

    &__text {
        font-weight: 900;
        font-size: rem(21);
        line-height: 1;
        transform: rotate(-45deg);
        color: #ffffff;
    }
}

//====================================================================================================

.services {
    &__container {
    }

    &__body {
    }

    &__text-box {
        max-width: rem(406);
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(24, 40);
        }
    }

    &__description {
        font-size: rem(18);
        line-height: math.div(23, 18);
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

//========================================================================================================================================================

.cases {
    &__container {
        max-width: rem(1728);
    }

    &__body {
    }

    &__text-box {
        max-width: rem(536);
        margin: 0 auto;
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 51, 24);
        }
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(24, 40);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
    }

    &__description {
        font-size: rem(18);
        line-height: math.div(23, 18);
        letter-spacing: 0.3px;
        color: $mCGray;
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.list-cases {
    background-image: url("../img/home/case-bg_1svg.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    &__item {
        flex: 0 0 rem(288);
    }

    &__card {
    }
}
.card-case {
    border: 1px solid #e2e2e2;
    min-height: rem(488);
    min-width: rem(288);
    // background-color: #ffffff;
    position: relative;
    cursor: pointer;
    &__body {
        font-family: "Mulish";
        font-weight: 800;
        font-size: rem(17);
        line-height: 1em;
        letter-spacing: 0.3px;
        padding: percent(55, 488) rem(41);
        z-index: 3;
        position: relative;
        pointer-events: none;
    }

    &__number {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
        pointer-events: none;
        color: $mCOrange;
        &::before {
            font-size: rem(12.5);
            transform: translate(50%, 50%);
        }
        ._isActive & {
            color: #ffffff;
        }
    }

    &__heading {
        color: $mCGrayBold;
        margin-top: 100%;
        pointer-events: none;
        ._isActive & {
            // color: #ffffff;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        pointer-events: none;
        ._isActive & {
            display: block;
        }
    }
}
.slider-case {
    position: relative;
    background-image: url("../img/home/case-bg_1svg.svg");
    background-position: center calc(100% - 40px);
    background-repeat: no-repeat;
    background-size: fill;
    &__wrapper {
        margin-bottom: rem(40);
        // padding-bottom: 40px;
    }
    &__slide {
    }
    &__swiper-pagination {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        visibility: visible;
        column-gap: rem(4);
        padding: 5px 0;
        @media (max-width: $mobileSmall) {
            column-gap: rem(8);
        }
        > .swiper-pagination-bullet {
            width: rem(11);
            height: rem(10);
            border-radius: 50%;
            background-color: #d9d9d9;
            transition: background-color 0.4s ease 0s;
            cursor: pointer;
            @media (max-width: $mobileSmall) {
                width: rem(15);
                height: rem(14);
            }
        }
        .swiper-pagination-bullet-active {
            background-color: $mCOrange;
        }
    }
}
//========================================================================================================================================================

.benefits {
    &__container {
        max-width: rem(1439);
    }

    &__body {
    }

    &__text-box {
        display: flex;
        justify-content: center;
        column-gap: rem(24);
        &:not(:last-child) {
            margin-bottom: percent(88, 1439);
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(15);
        }
    }

    &__sub-title {
        flex: 0 1 rem(465);
        @media (max-width: $mobile) {
            flex: auto;
        }
    }

    &__description {
        flex: 0 1 rem(437);
        color: $mCGray;
        @media (max-width: $mobile) {
            flex: auto;
        }
    }

    &__slider {
    }
}

.slider-benefits {
    &__wrapper {
        overflow: hidden;
        position: relative;
        min-height: rem(558);
        @media (max-width: em(1270)) {
            min-height: auto;
        }
    }

    &__controls {
        max-width: rem(1007);
        width: 100%;
        margin: 0px 0px 0px auto;
        background-color: #ffffff;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        column-gap: rem(15);
    }
}

.controls-slider-benefits {
    // display: none;
    position: absolute;
    top: 0;
    right: 0;
    &__wrapper {
        min-height: rem(156);
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tabs {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: rem(913);
        margin: 0 auto;
        column-gap: percent(48, 913);
    }

    &__tab {
        flex: 0 1 calc(100% / 5);
        color: #a8acad;
        transition: flex 1s ease 0s;
        &[data-active="true"] {
            color: $mCGrayBold;
            flex: 0 1 calc(100% / 5 + 12%);
        }
    }

    &__tab-number {
        font-weight: 700;
        font-size: rem(17);
        line-height: 1em;
        letter-spacing: 0.3px;
        display: inline-flex;
        flex-direction: row-reverse;
        &::before {
            transform: translate(50%, 50%);
        }
        &:not(:last-child) {
            margin-bottom: rem(36.5);
        }
    }

    &__tab-text {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(17, 20);
        letter-spacing: -1px;
        @media (max-width: em(1045)) {
            display: none;
            pointer-events: none;
            visibility: hidden;
        }
    }

    &__buttons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(100%);
        > button {
            flex: 0 0 50%;
            height: rem(71.5);
            color: #fff;
        }
    }
}

.slide-slider-benefits {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    transition: left 1s ease 0s;
    top: 0;
    left: -100%;
    width: 100%;
    &[data-active="true"] {
        position: relative;
        transition: left 1s ease 1s;
        left: 0;
        top: 0;
    }
    @media (max-width: em(1270)) {
        flex-direction: column;
        align-items: center;
        row-gap: rem(25);
    }
    &__image {
        // flex: 0 0 rem(936);
        max-width: rem(936);
        display: inline-block;
        width: 100%;
    }

    &__text-box {
        flex: 0 1 rem(394);
        @media (max-width: em(1270)) {
            flex: auto;
            width: 50%;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__heading {
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -1px;
        color: #000000;
        @include adaptiveValue("font-size", 28, 20);
        &:not(:last-child) {
            margin-bottom: em(16, 28);
        }
    }

    &__description {
        line-height: math.div(21, 16);
        letter-spacing: 0.3px;
        color: $mCGray;
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }
}

//========================================================================================================================================================

.partners {
    &__container {
        max-width: rem(1440);
    }

    &__body {
    }

    &__heading {
        max-width: rem(370);
        &:not(:last-child) {
            margin-bottom: em(32, 32);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(56);
            }
        }
    }

    &__slider {
    }
}

.slider-partners {
    position: relative;
    &__wrapper {
    }

    &__slide {
        border-right: 1px dashed black;
    }
    &__image-box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: rem(128);
    }
    &__image {
    }
    &__swiper-button-prev {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(40);
        height: rem(40);
        color: #4a4b4e;
        transform: scaleX(-1) translateY(-50%);
        border-radius: 50%;
        border: 0.5px solid #4a4b4e;
        &:disabled {
            color: rgba($color: #4a4b4e, $alpha: 0.5);
            border-color: rgba($color: #4a4b4e, $alpha: 0.5);
        }
    }

    &__swiper-button-next {
        position: absolute;
        top: 50%;
        right: 0;
        width: rem(40);
        height: rem(40);
        color: #4a4b4e;
        transform: translateY(-50%);
        border: 0.5px solid #4a4b4e;
        border-radius: 50%;
        &:disabled {
            color: rgba($color: #4a4b4e, $alpha: 0.5);
            border-color: rgba($color: #4a4b4e, $alpha: 0.5);
        }
    }
}

//========================================================================================================================================================

.reviews {
    &__container {
    }

    &__body {
        display: flex;
        align-self: flex-start;
        @media (max-width: em(1020)) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: rem(30);
        }
    }

    &__text-box {
        flex: 0 0 rem(290);
        @media (max-width: em(1020)) {
            flex: auto;
            max-width: rem(500);
            width: 100%;
            align-self: center;
            text-align: center;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: rem(32);
        letter-spacing: -1px;
        &:not(:last-child) {
            margin-bottom: em(24, 32);
        }
    }

    &__description {
        line-height: math.div(21, 16);
        letter-spacing: 0.3px;
        color: $mCGray;
    }

    &__slider {
        flex: 0 0 rem(678);
        min-height: rem(600);
        @media (max-width: em(1020)) {
            max-width: rem(678);
            width: 100%;
            align-self: center;
        }
        @media (max-width: em(721)) {
            max-width: fit-content;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 rem(550);
            min-height: 0;
        }
    }
    &__wrapper {
        flex: 0 1 rem(936);
        width: rem(936);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: rem(30);
        @media (max-width: em(1020)) {
            flex-direction: column;
            flex: auto;
            max-width: rem(936);
            width: 100%;
            align-items: center;
        }
    }
}
.reviews-slider {
    display: flex;
    justify-content: space-between;
    min-height: rem(614);
    overflow: hidden;
    column-gap: rem(15);
    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: rem(30);
    }
    &__wrapper {
        border: 39px solid $mCOrange;
        position: relative;
        flex: 0 1 rem(577);
        min-width: rem(359);
        @media (max-width: $mobile) {
            flex: auto;
            width: 100%;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: rem(41);
            background-color: #fff;
            pointer-events: none;
            top: 50%;
        }
        &::before {
            transform: translate(-100%, -50%);
            left: 0;
            height: percent(353, 600);
        }
        &::after {
            right: 0;
            transform: translate(100%, -50%);
            height: percent(401, 600);
        }
    }

    &__swiper-pagination {
        align-self: flex-end;
        max-width: rem(71);
        @media (max-width: $mobile) {
            align-self: center;
        }
    }

    &__slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -200%;
        &[data-active="true"] {
            left: 0;
        }
    }
    &__card-reviews {
        position: absolute;
        top: 50%;
        left: 37px;
        width: 100%;
        z-index: 3;
        transform: translateY(-50%);
    }
    &__buttons {
        align-self: flex-end;
        @media (max-width: $mobile) {
            align-self: center;
        }
    }
}
.reviews-slider-swiper-pagination {
    display: flex;
    align-items: center;
    overflow: hidden;
    column-gap: rem(4);
    &__item {
        width: rem(11);
        height: rem(10);
        background-color: #d9d9d9;
        border-radius: 50%;
        &[data-active="true"] {
            background-color: $mCOrange;
        }
    }
}
.card-reviews {
    &__body {
        min-height: rem(362);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

    &__image {
        width: 202px;
    }

    &__text {
        font-family: "Minion Pro";
        font-style: italic;
        font-weight: 500;
        font-size: rem(19);
        line-height: math.div(28, 19);
        letter-spacing: 0.27px;
        color: #4a4b4e;
        width: 115%;
    }

    &__info {
    }

    &__post {
        font-weight: 600;
        font-size: rem(15);
        line-height: math.div(22, 15);
        letter-spacing: 0.27px;
        color: $mCOrange;
    }

    &__name {
        font-weight: 700;
        font-size: rem(20);
        letter-spacing: 0.18px;
        color: #2f3034;
        &:not(:last-child) {
            margin-bottom: em(14, 20);
        }
    }
}

.slider-review {
    position: relative;

    // display: flex;
    // width: 600px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #fff;
        pointer-events: none;
        @include adaptiveValue("width", 42, 27);
    }
    &::before {
        height: percent(353, 600);
        top: percent(127, 600);
        left: 0;
        z-index: 1;
        // transform: translateX(-3px);
    }
    &::after {
        height: percent(401, 600);
        top: percent(127, 600);
        right: 14%;
        z-index: -1;
    }
    @media (max-width: em(721)) {
        &::after {
            right: 0;
        }
    }
    &__element-border {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 4px);
        height: 100%;
        top: 0;
        left: 2px;
        border-style: solid;
        border-color: $mCOrange;
        @include adaptiveValue("border-width", 39, 25);
        max-width: rem(578);
        z-index: -1;
    }
    &__wrapper {
        height: 100%;
        max-width: rem(578);
        // flex: 0 1 rem(600);
        // width: 600px;
    }
    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(0px);
        transition: transform 0.3s ease 0.6s, opacity 0.6s ease 0.9s;
        opacity: 0;
        @media (max-width: em(721)) {
            padding: 0 percent(80, 578);
        }
        &.swiper-slide-active {
            transform: translateX(76px);
            opacity: 1;
            @media (max-width: em(721)) {
                transform: none;
            }
        }
    }
}
.slider-review-pagination {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    max-width: rem(110);
    flex-wrap: wrap;
    // row-gap: rem(10);
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    // visibility: visible;
    // column-gap: rem(4);
    @media (min-width: em(1020)) {
        align-self: flex-end;
    }
    @media (max-width: $mobileSmall) {
        column-gap: rem(8);
    }
    > .swiper-pagination-bullet {
        cursor: pointer;
        position: relative;
        width: rem(22);
        height: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: "";
            display: block;
            width: rem(11);
            height: rem(10);
            border-radius: 50%;
            background-color: #d9d9d9;
            transition: background-color 0.4s ease 0s;
        }
        @media (max-width: $mobileSmall) {
            width: rem(15);
            height: rem(14);
        }
    }
    .swiper-pagination-bullet-active {
        &::before {
            background-color: $mCOrange;
        }
    }
}
.reviews-slider-buttons {
    @media (min-width: em(1250)) {
        align-self: flex-end;
    }
}
.card-review {
    min-height: rem(362);

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transform: translateY(8px);
        @media (max-width: $mobileSmall) {
            // transform: none;
        }
    }
    &__image {
        width: rem(202);
        &:not(:last-child) {
            margin-bottom: percent(40, 500);
        }
    }
    &__text {
        // transform: translateX(34px);
        font-style: italic;
        font-weight: 500;
        @include adaptiveValue("font-size", 19, 14);
        line-height: math.div(28, 19);
        letter-spacing: 0.27px;
        color: #4a4b4e;
        position: relative;
        z-index: 30;
        max-width: rem(578);
        &:not(:last-child) {
            margin-bottom: percent(86, 500);
        }
    }
    &__info {
    }
    &__info-name {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1em;
        letter-spacing: 0.18px;
        color: #2f3034;
        &:not(:last-child) {
            margin-bottom: em(14.2, 20);
        }
    }
    &__info-post {
        font-weight: 600;
        font-size: rem(15);
        line-height: math.div(22, 15);
        letter-spacing: 0.27px;
        color: $mCOrange;
    }
}
//========================================================================================================================================================
.support {
    &__container {
        max-width: rem(1456);
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(25);
        }
    }

    &__text-box {
        flex: 0 0 rem(298);
        @media (max-width: $mobile) {
            flex: auto;
        }
    }
    &__content {
        flex: 0 1 rem(998);
        @media (max-width: $mobile) {
            flex: auto;
        }
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(3, minmax(rem(285), rem(322)));
        justify-content: flex-start;
        column-gap: percent(82, 1456);
        align-self: flex-start;
        row-gap: rem(20);
        &:not(:last-child) {
            margin-bottom: rem(55.8);
        }
        @media (max-width: em(1350)) {
            grid-template-columns: repeat(2, minmax(rem(285), rem(322)));
        }
        @media (max-width: $tablet) {
            grid-template-columns: minmax(rem(285), rem(322));
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
    }

    &__heading {
        font-weight: 900;
        font-size: rem(28);
        line-height: math.div(34, 28);
        letter-spacing: -1px;
        color: #313131;
        max-width: rem(134);
        &:not(:last-child) {
            margin-bottom: em(24, 28);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(26);
        }
    }

    &__text {
        line-height: math.div(22, 16);
        letter-spacing: 0.3px;
        color: $mCGray;
        @media (max-width: $mobileSmall) {
            font-size: rem(13);
        }
    }

    &__label {
        font-size: rem(18);
        line-height: math.div(23, 18);
        letter-spacing: 0.3px;
        color: #2f3034;
        &:not(:last-child) {
            margin-bottom: em(24, 18);
        }
    }
    &__description {
        font-size: rem(32);
        letter-spacing: -1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(42);
        span {
            font-size: rem(24);
        }
    }
}

//========================================================================================================================================================

.team {
    &__container {
        max-width: rem(1400);
    }

    &__body {
        position: relative;
        z-index: 2;
    }

    &__text-box {
        max-width: rem(344);
        &:not(:last-child) {
            margin-bottom: rem(78);
        }
    }

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: em(40, 40);
        }
    }

    &__description {
        font-size: rem(32);
        letter-spacing: -1px;
    }

    &__lieders {
        padding-bottom: percent(98, 1400);
        margin-bottom: percent(80, 1400);
        border-bottom: 1px dashed #2f3034;
    }

    &__engineers {
        padding-bottom: percent(44, 1400);
        margin-bottom: percent(80, 1400);
        border-bottom: 1px dashed #2f3034;
    }

    &__technical-staff {
        padding-bottom: percent(36, 1400);
        margin-bottom: percent(80, 1400);
        border-bottom: 1px dashed #2f3034;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: rem(50);
    }

    &__trainees {
        flex: 0 1 rem(432);
        padding-bottom: percent(60, 1400);
        border-bottom: 1px dashed #2f3034;
    }

    &__other {
        flex: 0 1 rem(648);
        padding-bottom: percent(60, 1400);
        border-bottom: 1px dashed #2f3034;
    }
}

.lieders-team {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: rem(15);
        @media (max-width: em(1024)) {
            flex-direction: column;
            row-gap: rem(48.5);
        }
    }

    &__item {
    }

    &__card {
    }
}
.card-lieders-team {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: rem(679);
    column-gap: rem(10);
    @media (max-width: em(670)) {
        gap: rem(30);
    }
    @media (max-width: em(390)) {
        flex-direction: column;
    }
    &__image {
        display: block;
        // flex: 0 1 rem(289);
        max-width: rem(289);
        // width: 100%;
        // max-width: 100%;
        @media (max-width: em(670)) {
            // max-width: rem(143);
            max-width: rem(143);
        }
        @media (max-width: em(390)) {
            align-self: center;
        }
    }

    &__info-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(16);
        flex: 0 1 rem(346);
        min-width: rem(191);
        @media (max-width: em(390)) {
            flex: auto;
        }
    }

    &__name {
        font-weight: 700;
        color: #000000;
        @include adaptiveValue("font-size", 36, 21);
    }

    &__post {
        display: inline-flex;
        align-items: center;
        column-gap: rem(16);
        &::before {
            color: $mCOrange;
        }
    }

    &__description {
        line-height: math.div(22, 16);
        letter-spacing: 0.3px;
        color: $mCGray;
        @media (max-width: $mobileSmall) {
            font-size: rem(14);
        }
    }

    &__social {
        font-size: rem(21);
        color: #1074af;
    }
}

.engineers-team {
}
.technical-staff-team {
}
.trainees-team {
}
.other-team {
}

.team-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2px;
    row-gap: rem(50);
    flex-wrap: wrap;
    @media (max-width: $mobile) {
        column-gap: rem(16);
    }
    @media (max-width: em(480)) {
        // justify-content: center;
    }
    &__item {
    }

    &__card {
    }
}

.card-person-team {
    width: rem(215);
    min-height: rem(312);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // row-gap: rem(16);
    @media (max-width: $mobile) {
        width: rem(114);
        min-height: rem(172);
    }
    &__image {
        max-width: rem(216);
        width: 100%;
    }

    &__name {
        font-weight: 700;
        line-height: math.div(24, 20);
        display: inline-block;
        flex: 1 0 100%;
        @include adaptiveValue("font-size", 20, 15);
    }

    &__post {
        display: inline-flex;
        align-items: flex-start;
        column-gap: rem(16);
        min-height: rem(32);
        &::before {
            color: $mCOrange;
        }
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }
}

//========================================================================================================================================================

.map {
    &__container {
        max-width: rem(1730);
        padding: 0;
    }

    &__body {
        position: relative;
    }

    &__aside-info {
    }
}

.aside-info-map {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: rem(493);
    width: 100%;
    min-width: rem(290);
    min-height: rem(346);
    background-color: #fff;
    padding: rem(24) rem(15) rem(31) rem(15);
    z-index: 4;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    @media (max-width: $mobile) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        max-width: none;
        justify-content: space-between;
    }
    @media (max-width: em(375)) {
        flex-direction: column;
    }
    &__logo {
        flex: 0 0 rem(72);
        margin-right: rem(69);
    }
}

.info-map-content {
    flex: 0 1 rem(279);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: rem(15);
    line-height: math.div(22, 15);
    color: #313131;
    row-gap: rem(16);
    &__heading {
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: em(11, 15);
        }
    }

    &__address {
    }

    &__tel {
    }

    &__mail {
        color: $mCOrange;
    }
}

.info-map-social {
    display: flex;
    align-items: center;
    max-width: rem(240);
    justify-content: space-between;
    width: 100%;
    column-gap: rem(10);
    &__heading {
        font-weight: 700;
    }
    &__social {
        display: flex;
        align-items: center;
        column-gap: rem(16);
    }

    &__item {
    }
    &__link {
        font-weight: 500;
        color: $mCOrange;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        border: 1px solid $mCOrange;
    }
}
