//====================================================================================================
.page {
   position: relative;
   &__main-screen {
      @include adaptiveValue("padding-top", 186, 120);
      @include adaptiveValue("padding-bottom", 218, 150);
      background-image: url("../img/home/main-screen-image_bg.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.main-screen {
   &__container {
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__content-box {
      flex: 0 1 rem(723);
   }

   &__title {
      font-size: rem(64);
      line-height: math.div(70, 64);
      letter-spacing: -1.46526px;
      color: #f7f7f7;
      &:not(:last-child) {
         margin-bottom: em(24, 64);
      }
   }

   &__text {
      font-weight: 400;
      font-size: rem(25);
      line-height: math.div(28, 25);
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: em(28, 25);
      }
      &:last-child {
         &:not(:last-child) {
            margin-bottom: em(40, 25);
         }
      }
   }

   &__actioin-box {
      display: flex;
      align-items: center;
      column-gap: rem(16);
   }

   &__button {
      padding: rem(16) 0;
      &_width-194 {
         width: rem(194);
         border-color: #ffffff;
      }
      &_width-133 {
         width: rem(133);
         padding: rem(16) 0;
         background-color: #ffffff;
         color: $mCBlue;
      }
   }
   &__figure-elements {
      flex: 0 0 rem(340);
   }
}

.figure-elements {
   min-height: rem(560);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__item {
      background-color: rgba($color: $mCBlue, $alpha: 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: end;
      position: relative;
      z-index: 2;
      &_first {
         width: rem(151);
         height: rem(151);
         outline: 8px solid #ffffff;
         position: relative;
         // &::before {
         //    content: "";
         //    display: block;
         //    width: 100%;
         //    height: 100%;
         //    border: 1px solid #fff;
         //    position: absolute;
         //    top: -30px;
         //    left: -30px;
         //    z-index: -2;
         //    // transform: translate(-30px, -30px);
         // }
      }
      &_second {
         width: rem(125);
         height: rem(125);
         align-self: start;
         border: 9px solid $mCBlue;
      }
      &_third {
         width: rem(178);
         height: rem(178);
         border: 10px solid $mCOrange;
      }
      transform: rotate(45deg);
   }
   &__item-border {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 100%;
      height: 100%;
      border: 1px solid #ffffff;
      z-index: -2;
      &_second {
         border-color: $mCOrange;
         top: 20px;
         left: -20px;
      }
      &_third {
         top: 20px;
         left: 20px;
      }
   }

   &__text {
      font-weight: 900;
      font-size: rem(21);
      line-height: 1;
      transform: rotate(-45deg);
      color: #ffffff;
   }
}

//====================================================================================================

.page {
   &__services {
      background-color: $mCBlue;
   }
}
.services {
   &__container {
   }

   &__body {
   }

   &__text-box {
      max-width: rem(406);
   }

   &__sub-title {
      &:not(:last-child) {
         margin-bottom: em(24, 40);
      }
   }

   &__description {
      font-size: rem(18);
      line-height: math.div(23, 18);
      letter-spacing: 0.3px;
      color: #ffffff;
   }
}
.sub-title {
}

//========================================================================================================================================================

.page {
   &__cases {
      @include adaptiveValue("padding-bottom", 168, 120);
   }
}
.cases {
   &__container {
      max-width: rem(1728);
   }

   &__body {
   }

   &__text-box {
      max-width: rem(536);
      margin: 0 auto;
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(51);
      }
   }

   &__sub-title {
      &:not(:last-child) {
         margin-bottom: em(24, 40);
      }
   }

   &__description {
      font-size: rem(18);
      line-height: math.div(23, 18);
      letter-spacing: 0.3px;
      color: $mCGray;
   }

   &__list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      // flex-wrap: wrap;
   }
}

.list-cases {
   background-image: url("../img/home/case-bg_1svg.svg");
   background-position: bottom center;
   background-repeat: no-repeat;
   background-size: contain;
   &__item {
      flex: 0 1 calc(100% / 6);
   }

   &__card {
   }
}
.card-case {
   border: 1px solid #e2e2e2;
   min-height: rem(488);
   // background-color: #ffffff;
   position: relative;
   &__body {
      font-family: "Mulish";
      font-weight: 800;
      font-size: rem(17);
      line-height: 1em;
      letter-spacing: 0.3px;
      padding: percent(55, 488) rem(41);
      z-index: 3;
      position: relative;
   }

   &__number {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;

      color: $mCOrange;
      &::before {
         font-size: rem(12.5);
         transform: translate(50%, 50%);
      }
      ._isActive & {
         color: #ffffff;
      }
   }

   &__heading {
      color: $mCGrayBold;
      margin-top: 100%;
      ._isActive & {
         color: #ffffff;
      }
   }
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
   }
}
