//====================================================================================================
.page {
   position: relative;
   &__main-screen {
      @include adaptiveValue("padding-top", 186, 120);
      @include adaptiveValue("padding-bottom", 218, 150);
      background-image: url("../img/home/main-screen-image_bg.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.main-screen {
   &__container {
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__content-box {
      flex: 0 1 rem(723);
   }

   &__title {
      font-size: rem(64);
      line-height: math.div(70, 64);
      letter-spacing: -1.46526px;
      color: #f7f7f7;
      &:not(:last-child) {
         margin-bottom: em(24, 64);
      }
   }

   &__text {
      font-weight: 400;
      font-size: rem(25);
      line-height: math.div(28, 25);
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: em(28, 25);
      }
      &:last-child {
         &:not(:last-child) {
            margin-bottom: em(40, 25);
         }
      }
   }

   &__actioin-box {
      display: flex;
      align-items: center;
      column-gap: rem(16);
   }

   &__button {
      padding: rem(16) 0;
      &_width-194 {
         width: rem(194);
         border-color: #ffffff;
      }
      &_width-133 {
         width: rem(133);
         padding: rem(16) 0;
         background-color: #ffffff;
         color: $mCBlue;
      }
   }
   &__figure-elements {
      flex: 0 0 rem(340);
   }
}

.figure-elements {
   min-height: rem(560);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__item {
      background-color: rgba($color: $mCBlue, $alpha: 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: end;
      position: relative;
      z-index: 2;
      &_first {
         width: rem(151);
         height: rem(151);
         outline: 8px solid #ffffff;
         position: relative;
         // &::before {
         //    content: "";
         //    display: block;
         //    width: 100%;
         //    height: 100%;
         //    border: 1px solid #fff;
         //    position: absolute;
         //    top: -30px;
         //    left: -30px;
         //    z-index: -2;
         //    // transform: translate(-30px, -30px);
         // }
      }
      &_second {
         width: rem(125);
         height: rem(125);
         align-self: start;
         border: 9px solid $mCBlue;
      }
      &_third {
         width: rem(178);
         height: rem(178);
         border: 10px solid $mCOrange;
      }
      transform: rotate(45deg);
   }
   &__item-border {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 100%;
      height: 100%;
      border: 1px solid #ffffff;
      z-index: -2;
      &_second {
         border-color: $mCOrange;
         top: 20px;
         left: -20px;
      }
      &_third {
         top: 20px;
         left: 20px;
      }
   }

   &__text {
      font-weight: 900;
      font-size: rem(21);
      line-height: 1;
      transform: rotate(-45deg);
      color: #ffffff;
   }
}

//====================================================================================================

.page {
   &__services {
      background-color: $mCBlue;
      @include adaptiveValue("padding-bottom", 152, 120);
      @include adaptiveValue("padding-top", 104, 50);
   }
}
.services {
   &__container {
   }

   &__body {
   }

   &__text-box {
      max-width: rem(406);
   }

   &__sub-title {
      &:not(:last-child) {
         margin-bottom: em(24, 40);
      }
   }

   &__description {
      font-size: rem(18);
      line-height: math.div(23, 18);
      letter-spacing: 0.3px;
      color: #ffffff;
   }
}
.sub-title {
}

//========================================================================================================================================================

.page {
   &__cases {
      @include adaptiveValue("padding-bottom", 168, 120);
   }
}
.cases {
   &__container {
      max-width: rem(1728);
   }

   &__body {
   }

   &__text-box {
      max-width: rem(536);
      margin: 0 auto;
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(51);
      }
   }

   &__sub-title {
      &:not(:last-child) {
         margin-bottom: em(24, 40);
      }
   }

   &__description {
      font-size: rem(18);
      line-height: math.div(23, 18);
      letter-spacing: 0.3px;
      color: $mCGray;
   }

   &__list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
   }
}

.list-cases {
   background-image: url("../img/home/case-bg_1svg.svg");
   background-position: bottom center;
   background-repeat: no-repeat;
   background-size: contain;
   &__item {
      flex: 0 0 rem(288);
   }

   &__card {
   }
}
.card-case {
   border: 1px solid #e2e2e2;
   min-height: rem(488);
   // background-color: #ffffff;
   position: relative;
   &__body {
      font-family: "Mulish";
      font-weight: 800;
      font-size: rem(17);
      line-height: 1em;
      letter-spacing: 0.3px;
      padding: percent(55, 488) rem(41);
      z-index: 3;
      position: relative;
   }

   &__number {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;

      color: $mCOrange;
      &::before {
         font-size: rem(12.5);
         transform: translate(50%, 50%);
      }
      ._isActive & {
         color: #ffffff;
      }
   }

   &__heading {
      color: $mCGrayBold;
      margin-top: 100%;
      ._isActive & {
         color: #ffffff;
      }
   }
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
   }
}

//========================================================================================================================================================

.page {
   &__benefits {
      @include adaptiveValue("padding-bottom", 182, 120);
   }
}
.benefits {
   &__container {
      max-width: rem(1439);
   }

   &__body {
   }

   &__text-box {
      display: flex;
      justify-content: center;
      column-gap: rem(24);
      &:not(:last-child) {
         margin-bottom: percent(88, 1439);
      }
   }

   &__sub-title {
      flex: 0 1 rem(465);
   }

   &__description {
      flex: 0 1 rem(437);
   }

   &__slider {
   }
}

.slider-benefits {
   &__wrapper {
      overflow: hidden;
      position: relative;
      min-height: rem(558);
   }

   &__controls {
      max-width: rem(1007);
      width: 100%;
      margin: 0px 0px 0px auto;
      // padding: rem(17) 0;
      background-color: #ffffff;
      border: 1px solid black;
   }
   &__slide {
   }
}
.controls-slider-benefits {
   // display: none;
   position: absolute;
   top: 0;
   right: 0;
   &__wrapper {
      min-height: rem(156);
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__tabs {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: rem(913);
      margin: 0 auto;
      column-gap: percent(48, 913);
   }

   &__tab {
      flex: 0 1 calc(100% / 5);
      color: #a8acad;
      transition: flex 1s ease 0s;
      &[data-active="true"] {
         color: $mCGrayBold;
         flex: 0 1 calc(100% / 5 + 12%);
      }
   }

   &__tab-number {
      font-weight: 700;
      font-size: rem(17);
      line-height: 1em;
      letter-spacing: 0.3px;
      display: inline-flex;
      flex-direction: row-reverse;
      &::before {
         transform: translate(50%, 50%);
      }
      &:not(:last-child) {
         margin-bottom: rem(36.5);
      }
   }

   &__tab-text {
      font-weight: 600;
      font-size: rem(20);
      line-height: math.div(17, 20);
      letter-spacing: -1px;
   }

   &__buttons {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(100%);
      > button {
         flex: 0 0 50%;
         height: rem(71.5);
         color: #fff;
      }
   }
}

.slide-slider-benefits {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   position: absolute;
   transition: left 1s ease 0s;
   top: 0;
   left: -100%;
   width: 100%;
   &[data-active="true"] {
      // position: relative;
      transition: left 1s ease 1s;
      left: 0;
   }
   &__image {
      // flex: 0 0 rem(936);
      max-width: rem(936);
      display: inline-block;
      width: 100%;
   }

   &__text-box {
      flex: 0 1 rem(394);
   }

   &__heading {
      font-weight: 700;
      font-size: rem(28);
      line-height: 1em;
      letter-spacing: -1px;
      color: #000000;
      &:not(:last-child) {
         margin-bottom: em(16, 28);
      }
   }

   &__description {
      line-height: math.div(21, 16);
      letter-spacing: 0.3px;
      color: $mCGray;
   }
}

//========================================================================================================================================================

.page {
   &__partners {
      @include adaptiveValue("padding-bottom", 92, 70);
   }
}
.partners {
   &__container {
      max-width: rem(1440);
   }

   &__body {
   }

   &__heading {
      max-width: rem(370);
      &:not(:last-child) {
         margin-bottom: em(32, 32);
      }
   }

   &__slider {
   }
}

.slider-partners {
   position: relative;
   &__wrapper {
   }

   &__slide {
      border-right: 1px dashed black;
   }
   &__image-box {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: rem(128);
   }
   &__image {
   }
   &__swiper-button-prev {
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(20);
      height: rem(20);
      color: #4a4b4e;
      transform: scaleX(-1);
      &:disabled {
         color: rgba($color: #4a4b4e, $alpha: 0.5);
      }
   }

   &__swiper-button-next {
      position: absolute;
      top: 50%;
      right: 0;
      width: rem(20);
      height: rem(20);
      color: #4a4b4e;
      &:disabled {
         color: rgba($color: #4a4b4e, $alpha: 0.5);
      }
   }
}

//========================================================================================================================================================

.page {
   &__reviews {
      @include adaptiveValue("padding-bottom", 182, 120);
   }
}
.reviews {
   &__container {
   }

   &__body {
      display: flex;
   }

   &__text-box {
      flex: 0 1 rem(290);
   }

   &__heading {
      font-weight: 700;
      font-size: rem(32);
      letter-spacing: -1px;
      &:not(:last-child) {
         margin-bottom: em(24, 32);
      }
   }

   &__description {
      line-height: math.div(21, 16);
      letter-spacing: 0.3px;
      color: $mCGray;
   }

   &__slider {
      flex: 0 1 rem(936);
   }
}
.reviews-slider {
   display: flex;
   justify-content: space-between;
   min-height: rem(614);
   overflow: hidden;
   &__wrapper {
      border: 39px solid $mCOrange;
      position: relative;
      flex: 0 1 rem(577);
      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         width: 39px;
         background-color: #fff;
         pointer-events: none;
         top: 50%;
      }
      &::before {
         transform: translate(-100%, -50%);
         left: 0;
         height: percent(353, 600);
      }
      &::after {
         right: 0;
         transform: translate(100%, -50%);
         height: percent(401, 600);
      }
   }

   &__swiper-pagination {
      align-self: flex-end;
      max-width: rem(71);
   }

   &__slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -200%;
      &[data-active="true"] {
         left: 0;
      }
   }
   &__card-reviews {
      position: absolute;
      top: 50%;
      left: 37px;
      width: 100%;
      z-index: 3;
      transform: translateY(-50%);
   }
   &__buttons {
      align-self: flex-end;
   }
}
.reviews-slider-swiper-pagination {
   display: flex;
   align-items: center;
   overflow: hidden;
   column-gap: rem(4);
   &__item {
      width: rem(11);
      height: rem(10);
      background-color: #d9d9d9;
      border-radius: 50%;
      &[data-active="true"] {
         background-color: $mCOrange;
      }
   }
}
.card-reviews {
   &__body {
      min-height: rem(362);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
   }

   &__image {
      width: 202px;
   }

   &__text {
      font-family: "Minion Pro";
      font-style: italic;
      font-weight: 500;
      font-size: rem(19);
      line-height: math.div(28, 19);
      letter-spacing: 0.27px;
      color: #4a4b4e;
      width: 115%;
   }

   &__info {
   }

   &__post {
      font-weight: 600;
      font-size: rem(15);
      line-height: math.div(22, 15);
      letter-spacing: 0.27px;
      color: $mCOrange;
   }

   &__name {
      font-weight: 700;
      font-size: rem(20);
      letter-spacing: 0.18px;
      color: #2f3034;
      &:not(:last-child) {
         margin-bottom: em(14, 20);
      }
   }
}

//========================================================================================================================================================
.page {
   &__none {
      @include adaptiveValue("padding-bottom", 184, 120);
   }
}
.none {
   &__container {
      max-width: rem(1456);
   }

   &__body {
   }

   &__row-1 {
      display: grid;
      grid-template-columns: repeat(3, minmax(rem(285), rem(322)));
      justify-content: flex-start;
      column-gap: percent(82, 1456);
      align-self: flex-start;
      &:not(:last-child) {
         margin-bottom: rem(55.8);
      }
   }

   &__row-2 {
      display: grid;
      grid-template-columns: repeat(3, minmax(rem(275), rem(295)));
      justify-content: flex-end;
      column-gap: percent(82, 1456);
      align-self: flex-start;
   }

   &__item {
   }

   &__heading {
      font-weight: 900;
      font-size: rem(28);
      line-height: math.div(34, 28);
      letter-spacing: -1px;
      color: #313131;
      max-width: rem(134);
      &:not(:last-child) {
         margin-bottom: em(24, 28);
      }
   }

   &__text {
      line-height: math.div(22, 16);
      letter-spacing: 0.3px;
      color: $mCGray;
   }
}

//========================================================================================================================================================

.page {
   &__team {
      @include adaptiveValue("padding-bottom", 244, 120);
   }
}
.team {
   &__container {
      max-width: rem(1400);
   }

   &__body {
   }

   &__text-box {
      max-width: rem(344);
      &:not(:last-child) {
         margin-bottom: rem(78);
      }
   }

   &__sub-title {
      &:not(:last-child) {
         margin-bottom: em(40, 40);
      }
   }

   &__description {
      font-size: rem(32);
      letter-spacing: -1px;
   }

   &__lieders {
      padding-bottom: percent(98, 1400);
      margin-bottom: percent(80, 1400);
      border-bottom: 1px dashed #2f3034;
   }

   &__engineers {
      padding-bottom: percent(44, 1400);
      margin-bottom: percent(80, 1400);
      border-bottom: 1px dashed #2f3034;
   }

   &__technical-staff {
      padding-bottom: percent(36, 1400);
      margin-bottom: percent(80, 1400);
      border-bottom: 1px dashed #2f3034;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: rem(50);
   }

   &__trainees {
      flex: 0 1 rem(432);
      padding-bottom: percent(60, 1400);
      border-bottom: 1px dashed #2f3034;
   }

   &__other {
      flex: 0 1 rem(648);
      padding-bottom: percent(60, 1400);
      border-bottom: 1px dashed #2f3034;
   }
}

.lieders-team {
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: rem(15);
   }

   &__item {
   }

   &__card {
   }
}
.card-lieders-team {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   max-width: rem(679);
   &__image {
      flex: 0 1 rem(289);
   }

   &__info-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(16);
      flex: 0 1 rem(346);
   }

   &__name {
      font-weight: 700;
      font-size: rem(36);
      color: #000000;
   }

   &__post {
      display: inline-flex;
      align-items: center;
      column-gap: rem(16);
      &::before {
         color: $mCOrange;
      }
   }

   &__description {
      line-height: math.div(22, 16);
      letter-spacing: 0.3px;
      color: $mCGray;
   }

   &__social {
      font-size: rem(21);
      color: #1074af;
   }
}

.engineers-team {
}
.technical-staff-team {
}
.trainees-team {
}
.other-team {
}

.team-list {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   column-gap: 2px;
   row-gap: rem(50);
   flex-wrap: wrap;
   &__item {
   }

   &__card {
   }
}

.card-person-team {
   width: rem(215);
   min-height: rem(312);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   // row-gap: rem(16);
   &__image {
      max-width: rem(216);
   }

   &__name {
      font-weight: 700;
      font-size: rem(20);
      line-height: math.div(24, 20);
      display: inline-block;
   }

   &__post {
      display: inline-flex;
      align-items: center;
      column-gap: rem(16);
      &::before {
         color: $mCOrange;
      }
   }
}

//========================================================================================================================================================

.page {
   &__map {
   }
}
.map {
   &__container {
      max-width: rem(1730);
   }

   &__body {
   }
}

.page {
   &__map {
      position: relative;
      &::before {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba($color: #000000, $alpha: 0.3);
         z-index: 3;
         pointer-events: none;
      }
   }
}
.map {
   &__container {
   }

   &__body {
      position: relative;
   }

   &__aside-info {
   }
}

.aside-info-map {
   position: absolute;
   top: 50%;
   left: 0;
   max-width: rem(493);
   width: 100%;
   min-width: rem(290);
   min-height: rem(346);
   background-color: #fff;
   padding: rem(24) 0 rem(31) 0;
   z-index: 4;
   transform: translateY(-50%);
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   &__logo {
      flex: 0 0 rem(72);
      margin-right: rem(69);
   }
}

.info-map-content {
   flex: 0 1 rem(279);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: rem(15);
   line-height: math.div(22, 15);
   color: #313131;
   row-gap: rem(16);
   &__heading {
      font-weight: 700;
      &:not(:last-child) {
         margin-bottom: em(11, 15);
      }
   }

   &__address {
   }

   &__tel {
   }

   &__mail {
      color: $mCOrange;
   }
}

.info-map-social {
   display: flex;
   align-items: center;
   max-width: rem(240);
   justify-content: space-between;
   width: 100%;
   column-gap: rem(10);
   &__heading {
      font-weight: 700;
   }
   &__social {
      display: flex;
      align-items: center;
      column-gap: rem(16);
   }

   &__item {
   }
   &__link {
      font-weight: 500;
      color: $mCOrange;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(40);
      height: rem(40);
      border-radius: 50%;
      border: 1px solid $mCOrange;
   }
}
